
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 2;
  font-weight: 900;
}


h2{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;

}

h3{

  font-family: "Montserrat";
  font-weight: 800;
}

p{
  color: #8f8f8f;
}

body{
  font-family: "Montserrat";
}

/*************************************CLASS SELECTORS**************************/

.container-fluid{
  padding: 3% 15% 7% ;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.3rem;
  font-family: "Montserrat"
}

/* DOWNLOAD BUTTONS */

.download-button{
  margin: 5% 3% 5% 0;
}


.feature-box{
   text-align: center;
   padding: 5%;
}

.icon{
  color: #eF8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}
/* TITLE IMAGE */

.title-image{
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  right: 15%;

}
/*************************************ID SELECTORS**************************/


 /* Call to Action */

#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading{
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 900;
}

/* FOOTER SECTION */

#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

/* FEATURE BOX */

#features{
  padding: 7% 7%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

/* TESTEMONIALS SECTION */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width :13%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}


.press-logo{
  width : 15%;
  margin: 20px 20px 50px;

}

/* PRICING SECTION */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* MEDIA QUERY */

@media (max-width:1028px)
{

  #title{
    text-align: center;
  }

.title-image{
  position: static;
  transform: rotate(0);
}


}

/***
.
.
.
.
..

.
.
..
..

..
.
.
.
.
*/
